progress::-webkit-progress-value {background-color: #a82400;}
#progressAtnd::-webkit-progress-value {background-color: #ebac2b;}
#progressDoorkeeper::-webkit-progress-value {background-color: #0f4ff4;}      
